*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: #99badd;
    justify-content: center;
}
button, input, .width-45 {
    width: 45px;
}
.flex{
    display: flex;
}
.flex-align-items-center{
    align-items: center;
}
.flex-justify-content-start{
    justify-content: flex-start;
}
.flex-direction-column{
    flex-direction: column;
}
.menu {
    align-items: flex-end;
}
.menu button {
    width: 20px;
}
.menu .score,.level {
    background-color: #fff;
    border: 1px solid #767676;
}
.controls {
    width: 120px;
}